extends: standard
parser: "babel-eslint"
env:
    browser: true
    node: true
globals:
    wx: true
    location: true
    localStorage: true
plugins: ['html']

rules:
    strict: 0
    comma-dangle: [1, "always-multiline"]
